.m34loop-item-1-col {
	width: 100%;
	display: block;
}

.m34loop-item-2-col {
	width: 47%;
	float: left;
	margin: 1.5%;
	display: block;
}
.m34loop-item-3-col {
	width: 30%;
	float: left;
	margin: 1.5%;
	display: block;
}
.m34loop-item-4-col {
	width: 22.5%;
	float: left;
	margin: 1.25%;
	display: block;
}

.m34loop-item {
	font-size: 1.3rem;
}
.m34loop-item a:hover {
	text-decoration: underline;
}
.m34loop-item-1 {
	clear: both;
}
.m34loop-item img {
	border-bottom: 3px solid transparent;
}
.m34loop-item img:hover {
	border-bottom: 3px solid;
}


.m34loop-tit {
	font-size: 1.5rem;
	line-height: 1.3em;
	margin: 0;
}
.m34loop-date {
	color: #aaa;
}
.m34loop-desc {
	padding: 0.5rem 0;
}

