.m34loop-container {
	clear: both;
}

.m34loop-item-1-col {
	width: 100%;
	display: block;
}

.m34loop-item-2-col {
	width: 47%;
	float: left;
	margin: 1.5%;
	display: block;
}
.m34loop-item-3-col {
	width: 30%;
	float: left;
	margin: 1.5%;
	display: block;
}
.m34loop-item-4-col {
	width: 22.5%;
	float: left;
	margin: 1.25%;
	display: block;
}

.m34loop-item {
	margin-bottom: 3rem;
	font-size: 1.3rem;
}
.m34loop-item a:hover {
	text-decoration: underline;
}
.m34loop-item img {
	max-width: 100%;
	border-bottom: 3px solid transparent;
}
.m34loop-item img:hover {
	border-bottom: 3px solid;
}


.m34loop-tit {
	font-size: 1.3rem;
	line-height: inherit;
	margin: 0;
}
.m34loop-date {
	color: #aaa;
}

.visible-large,
.visible-medium,
.visible-small {
	display: none !important;
}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}

*::before, *::after { box-sizing: border-box; }

/* MEDIA QUERIES */
@media (min-width: 769px) {
	.visible-large { display: block !important; }
}
@media (min-width: 600px) and (max-width: 768px) {
	.visible-medium { display: block !important; }
	.m34loop-item-4-col {
		width: 30%;
		float: left;
		margin: 1.5%;
		display: block;
	}
}
@media (min-width: 480px) and (max-width: 599px) {
	.visible-small { display: block !important; }
	.m34loop-item-3-col,
	.m34loop-item-4-col {
		width: 47%;
		float: left;
		margin: 1.5%;
		display: block;
	}
}
@media (max-width: 479px) {
	.m34loop-item-2-col,
	.m34loop-item-3-col,
	.m34loop-item-4-col {
		width: 100%;
		display: block;	
	}
}
